body{
  background-color: #0055bb;
}

.navbar.navbar-default{
  background-color: #44bbcc;
  border: none;
}

a.navbar-brand{
  color: #ffffff;
  font-family: Droid Sans;
  font-weight: bold;
  font-size: 20px;
}

.col-md-8{
  background-color: #212121;
  height: 400px;
}

.col-md-8-bottom{
  background-color: #bbeeff;
  height: 100px;
}

.col-md-4{
  background-color: #ffffff;
  height: 400px;

}

.col-md-4-bottom{
  background-color: #bbeeff;
  height: 100px;
}

input.switch:empty
{
  margin-left: 100px;
}

input#switch1{
  display: none;
}

input.switch:empty ~ label
{
  position: relative;
  float: left;
  line-height: 1.6em;
  text-indent: 4em;
  margin: 0.2em 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.switch:empty ~ label:before, 
input.switch:empty ~ label:after
{
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: ' ';
  width: 3.6em;
  background-color: #c33;
  border-radius: 0.3em;
  box-shadow: inset 0 0.2em 0 rgba(0,0,0,0.3);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after
{
  width: 1.4em;
  top: 0.1em;
  bottom: 0.1em;
  margin-left: 0.1em;
  background-color: #fff;
  border-radius: 0.15em;
  box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2);
}

input.switch:checked ~ label:before
{
  background-color: #393;
}

input.switch:checked ~ label:after
{
  margin-left: 2.1em;
}

span.input-group-addon{
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #443030;
  text-align: center;
  background-color: none;
  border: none;
  border-radius: none;
}

.btn-group{
  top: -250px;
  right: 60px;
  padding-left: 20px;
}

.col-lg-1{
  top: -160px;
 padding-right: 140px;
  
}

.btn.btn-primary {
  margin-top: 20px;
  margin-left: 800px;
}

.range-length{
  padding-top: 5px;
  padding-left: 40px;
  width: 66%;
}

.range-length p{
  font-family: Droid Sans;
  font-size: 1.5em;
  color: #ffffff;
}

.panel.panel-default{
  margin-top: 20px;
  margin-bottom: 0px;
  background-color: #000000;
  border: none;
  color: #919D9D;
}

.panel-footer {
  height: 45px;
  background-color: #000000;
  color: #919D9D;
  border-color: #212121;
}
.panel-footer p{
  float: right;
}