body{
  background-color: blue;
}

.col-md-8{
  background-color: black;
  height: 400px;
}

.col-md-4{
  background-color: white;
  height: 400px;
}

.col-md-4-bottom{
  background-color: grey;
  height: 400px;
}

.btn.btn-primary {
  margin-top: 20px;
  margin-left: 700px;
}
.panel.panel-default{
  margin-top: 20px;
  margin-bottom: 0px;
}

.panel-footer {
  height: 45px;
}
.panel-footer p{
  float: right;
}